= simple_form_for(@ticket) do |f|
  = f.error_notification

  .form-inputs
    = f.select :project_id , current_user.projects.collect {|p| [ p.title, p.id ] }
    = f.input :title
    = f.input :description
    = f.input :content
    = f.hidden_field :creator_id, :value => current_user.id
    = f.hidden_field :owner_id, :value => current_user.id

  .form-actions
    = f.button :submit
