.row-fluid
  .span12
    %a.btn.btn-large.btn-warning{:href => "#{new_project_path}"}
      %span
        %i.icon-large.icon-list-alt
          Add Project
%br
.row-fluid
  .span12
    .well
      .navbar.navbar-heading
        .navbar-inner
          .container{:style => "width: auto;"}
            %a.brand{:href => "#"} projects
      %table.table.table-bordered.table-striped.small-font
        %tr
          %th Title
          %th Description
          %th Owner
          %th

        - @projects.each do |project|
          %tr
            %td= project.title
            %td= project.description
            %td= project.owner.email
            %td
              = link_to 'Show', project
              = link_to 'Edit', edit_project_path(project)
              = link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete
      %br

